@import "../../CSS/mixins/media-queries.scss";

.info-box {
  margin: 0 6px;

  @include respond(medium) {
    width: 379px;
  }
}

.info-box input {
  padding: 6px 17px;
  height: 48px;
  border: none;
  border-radius: 5px;
}

.info-box p {
  color: var(--grey);
  margin-bottom: 16px;
}
.perc-input {
  /* text-align: center !important; */
}

.info-box img {
  position: absolute;
  left: 0;
  top: 0;
}

/* .info-box input:focus-visible {
  outline: 2px solid #26c2ae;
} */

/* .input:focus {
  border: 2px solid #26c2ae;
} */

.info-box .percentage-selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 16.56px;
  margin-bottom: 32px;
}

.info-box .percentage-selection button {
  height: 48px;
  border-radius: 5px;
}
