@import "./CSS/mixins/media-queries.scss";
@import "./CSS/mixins/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Space-Mono;
  font-weight: 700;
  src: url(./assets/fonts/Space_Mono/SpaceMono-Bold.ttf);
}

body {
  font-family: Space-Mono;
  /* font-weight: 700; */
}

div:has(.app) {
  background: #c5e4e7;
  /* width: 375px; */
  height: 933px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin: 0 auto;
}

div:has(.app)::before {
  content: "SPLITTER";
  font-size: 18px;
  color: #3d6666;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translatex(-50%);
}

.app {
  width: 100%;
  height: 789px;
  background: #fff;
  /* padding: 32px 24px; */
  border-radius: 25px 25px 0 0;
}
