#active {
  color: #00474b;
  background-color: var(--grayishGreen);
}

.btn {
  font-family: Space-Mono, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  background-color: var(--darkgray);
  border: none;
}
