.input-header {
  display: flex;
  justify-content: space-between;
}

.input {
  caret-color: var(--grayishGreen);
  font-family: Space-Mono;
  font-weight: 700;
  font-size: 24px;
  text-align: right;
  color: var(--darkgray);
  width: 100%;
  margin-bottom: 32px;
  background: #f3f9fa;
  position: relative;
}

.input::placeholder {
  font-family: Space-Mono;
  font-weight: 700;
  font-size: 24px;
  color: var(--darkgray);
  opacity: 35%;
}

.label {
  color: var(--grey);
  display: inline-block;
  margin-bottom: 6px;
}

.error-text {
  color: var(--orangeRed);
}

.focus {
  outline: 2px solid var(--grayishGreen);
}

.error {
  outline: 2px solid var(--orangeRed);
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
